header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.navbar {
  width: 100%;
  padding: 14px 50px;
  z-index: 10; }

#about-me {
  margin-top: 70px; }
  #about-me .col-sm {
    margin-bottom: 10px; }

.about-me-info-title {
  font-weight: bold; }

#skills h2 {
  padding-bottom: 20px; }

#my-works {
  text-align: center; }
  #my-works .col {
    margin-bottom: 20px; }

.my-works-title {
  padding: 20px; }

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px; }
  footer p {
    margin: 0; }

section {
  border-bottom: 1px #d8d8d8 solid;
  padding: 20px 0; }
