@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }
  
  .box { @include border-radius(10px); }
/*border: 5px solid red;*/
body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
}

.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div{
    box-sizing: border-box;
}

header{
    background: url(../img/first-bg.jpg) no-repeat top center / cover;
    height: 100vh;
}

.container{
    max-width: 940px;  
    margin: 0 auto;
}

.logo{
    float: left;
    margin-top: 41px;
}

.head{
    position: fixed;
    width: 940px; 
 
}
nav{
    background: #222222;
    float: right;
   padding-top: 30px;
    padding-bottom: 30px;
    
}

.menu{
        margin: 0;
        padding: 0;
        display: block;
        
        
    li{
        float: left;
        display: block;
        margin-right: 41px;
    }

    a{
        color: white;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.titles_first{
    color: white;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 180px;
}

h1{
    color: white;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
}

.btn{
   text-align: center;
   margin-top: 60px;
   
}

button{
    width: 240px;
    font-size: 18px;
    font-weight: bold;
    color: #484543;
    background: #fed136;
    text-transform: uppercase;
    padding: 20px 0; 
    border: none;
    @include border-radius(5px);
}


.title{

    padding-top: 120px;

    h2{  
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }

    p{
        color: #777777;
        font-size: 16px;
        text-align: center;
        margin-top: 5px;
    }
}

.services{
    margin-top: 50px;
}

.row_block{

        width: 290px;
        float: left;
        text-align: center;

    h3{
        font-size: 18px;
        margin-bottom: 5px;
    }

    p{
        color: #777777;
        font-size: 14px;
        line-height: 1.6em;
    }

    :last-child{
        float:right;
    }

    :nth-child(2){
        margin-left: 40px;
    }
}

#services{
    padding-bottom: 120px;
}

#portfolio{
    background: #f7f7f7;
    padding-bottom: 120px;
}

.works{
        margin-top: 75px;
    
    img{
        float: left;

        :last-child{
            float: right;
        }

        :nth-child(2){
            margin-left: 35px;
        }
    }
}

.btn1{
    margin-top: 60px;
}